## Exercise 2

In [1]:
text="A special dividend is a non-recurring distribution of company assets, usually in the form of cash, to shareholders. A special dividend is usually larger compared to normal dividends paid out by the company and often tied to a specific event like an asset sale or other windfall event."

In [2]:
import re

In [3]:
pattern="DIVIDEND"
result=re.search(pattern, text)
print(result)

None

## Exercise 3

In [4]:
result=re.search(pattern, text, flags=re.IGNORECASE)
print(result)

<re.Match object; span=(10, 18), match='dividend'>

## Exercise 4

In [5]:
text="""The advancements in biomarine studies franky@google.com, with the investments necessary and Davos sinatra123@yahoo.com Then The New Yorker article on wind
farms..."""

In [6]:
pattern="\S+@"
result=re.findall(pattern, text, flags=re.IGNORECASE)
print(result)

['franky@', 'sinatra123@']

## Exercise 5

In [7]:
import pandas as pd

In [8]:
# from google.colab import drive
# drive.mount('/content/drive')

In [9]:
#df=pd.read_csv('/content/drive/MyDrive/.../dividend_statements.csv', sep=',')

In [10]:
df=pd.read_csv('dividend_statements.csv', sep=',')

In [11]:
df.head()

  company                                      dividend_text
0     ABC  Including the interim dividend of 10 cents per...
1     XYZ  Together with the interim dividend of 12 cents...
2     PQR  Including the interim dividend of 34 cents per...

In [12]:
# import re
# pattern='\d+ cents per share'

# df["dividend"]="empty"

# for ind in df.index:
#     df.at[ind, "dividend"] = re.findall(pattern, df["dividend_text"][ind])

# df.head()

In [13]:
import re
pattern='\d+ cents per share'
compiled_re = re.compile(pattern)
df["dividend"]="empty"

for ind in df.index:
    df.at[ind, "dividend"] = compiled_re.findall(df["dividend_text"][ind])

df.head()

,company,dividend_text,dividend
0,ABC,Including the interim dividend of 10 cents per...,"[10 cents per share, 11 cents per share, 25 ce..."
1,XYZ,Together with the interim dividend of 12 cents...,"[12 cents per share, 10 cents per share]"
2,PQR,Including the interim dividend of 34 cents per...,"[34 cents per share, 11 cents per share, 25 ce..."

## Exercise 6

In [14]:
text='''This medical report for medical insurance claims for
patient PETER HO with NRIC S6712098J. Please treat this report as confi
dential.'''

In [15]:
pattern="S\d{7}[A-Z]"
new_text=re.sub(pattern, "<SECRET>", text)
print(new_text)

This medical report for medical insurance claims for
patient PETER HO with NRIC <SECRET>. Please treat this report as confi
dential.

## Exercise 7

In [16]:
text="My name is Mike and my lucky number numbers are 09 18 99"

In [17]:
pattern="\s+"
result=re.split(pattern, text)
print(result)

['My', 'name', 'is', 'Mike', 'and', 'my', 'lucky', 'number', 'numbers', 'are', '09', '18', '99']