## **Text Feature Engineering and Modelling**
Done by Wong Wen Bing 230436M

In [5]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp311-cp311-macosx_12_0_arm64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/anaconda3/envs/textanalysis/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/envs/textanalysis/lib/python3.11/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/envs/textanalysis/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp311-cp311-macosx_12_0_arm64.whl (11.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 4.0 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
import nltk
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [11]:
df=pd.read_csv('230436M_cleaned_data.csv')
df.head()

,Unnamed: 0,index,description,species,cleaned_text
0,0,0,2 Jun 2023 ï¿½ The Javan myna shares some simi...,Javan Myna,"['2', 'jun', '2023', 'javan', 'myna', 'shares'..."
1,1,1,Click here for more information about the Red ...,Collared Kingfisher,"['click', 'information', 'red', 'list', 'categ..."
2,2,2,The black-headed oriole ( Oriolus larvatus) is...,Black-naped Oriole,"['blackheaded', 'oriole', 'oriolus', 'larvatus..."
3,3,3,"Search from thousands of royalty-free ""Javan M...",Javan Myna,"['search', 'thousands', 'royaltyfree', 'javan'..."
4,4,4,521 foreground recordings and 156 background ...,Little Egret,"['521', 'foreground', 'recordings', '156', 'ba..."

In [7]:
y=df['species']
x=df['cleaned_text']

In [14]:
display(x.shape)
display(y.shape)

X_train, X_test, y_train, y_test=train_test_split(x, y, test_size=0.2, random_state=42)

(611,)

(611,)

## Modelling
There will be a number of models tested.

1. Logistic Regression
2. Naives Bayes
3. Support Vector Machine

### **Model 1: Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(solver='lbfgs')

#train
lr.fit(X_train_cv, y_train)

#apply to test
y_pred_cv=lr.predict(X_test_cv)
y_pred_cv

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_pred_cv)
cm

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_cv, target_names=['Black-naped Oriole','Collared Kingfisher','Javan Myna','Little Egret']))

### **Model 2: Naives Bayes**