## IT2313 - Programming for Data Science
## Practical 5 - Question 12 to 15
## Data Manipulation with Pandas (Part 1)

### In this lesson, we will continue to practise our Pandas knowledge. 
- Importing Data into Pandas
- Changing the Values in DataFrame
- DataFrameData Exploration, Sorting and Filtering
- Slicing and Subsetting with .loc and .iloc
- Aggregating Methods

#### We need to import the neccessary libraries

In [1]:
import numpy as np
import pandas as pd

## **Q12 - Let import dataset from "homelessness.csv" into DataFrame known as homelessness**

**(a) Display the full DataFrame after importing from Dataset, do you think it is flessibe to display the full DataFrame?**

In [2]:
# Type your Q12(a) answer here

**(b) Display the top 10 and bottom 10 rows of the DataFrame**

In [3]:
# Type your Q12(b) answer here

In [4]:
# Type your Q12(b) answer here

**(c) Display the number of rows and columns in this DataFrame**

In [5]:
# Type your Q12(c) answer here

**(d) Generate descriptive statistics of the DataFrame's numerical columns**

In [6]:
# Type your Q12(d) answer here

In [7]:
# Type your Q12(d) answer here

In [8]:
# Type your Q12(d) answer here

**(e) Sort the DataFrame based on the column "individuals" in _ascending_ order and display the Top 5 rows**

In [9]:
# Type your Q12(e) answer here

**(f) Sort the DataFrame based on the column "individuals" in _descending_ order and display the Top 5 rows**

In [10]:
# Type your Q12(f) answer here

**(g) Select only the columns "region" and "family_members" and display the top 5 rows**

In [11]:
# Type your Q12(g) answer here

**(h) Select the rows which the "region" is "Pacific" and "state" is "California"**

In [12]:
# Question Q12(h)
# Type your answer here

In [13]:
# Question Q12(h)
# Type your answer here

**(i) Select only the rows where the region is "Pacific" or 'Mountain'.**

In [14]:
# Question Q12(i)
# Type your answer here

**(j) Create a new column known as "indiv_per_10k" col to represent homeless individuals per 10k state pop**

In [15]:
# Question Q12(j)
# Type your answer here

### **Q13 - Aggregating Data with Pivot Tables: Total Sales Analysis by Year, Product, and Region**

**Given a dataset of monthly sales, use pivot_table() to calculate the total annual sales for each product by region. Specifically, group by year, product_name, and region, and aggregate the sales column to obtain the total sales for each unique combination. Provide the Python code and display the resulting DataFrame.**

In [110]:
# Let use the following commannds to generate the Dataframe

import pandas as pd

# Create the sample DataFrame
data = {
    'year': [2022, 2022, 2022, 2022, 2023, 2023, 2023, 2023],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Feb'],
    'product_name': ['Widget A', 'Widget A', 'Widget B', 'Widget B', 'Widget A', 'Widget A', 'Widget B', 'Widget B'],
    'region': ['North', 'North', 'South', 'South', 'North', 'North', 'South', 'South'],
    'sales': [120, 150, 200, 220, 130, 160, 210, 230]
}

# Create DataFrame
sales_df = pd.DataFrame(data)
sales_df

   year month product_name region  sales
0  2022   Jan     Widget A  North    120
1  2022   Feb     Widget A  North    150
2  2022   Jan     Widget B  South    200
3  2022   Feb     Widget B  South    220
4  2023   Jan     Widget A  North    130
5  2023   Feb     Widget A  North    160
6  2023   Jan     Widget B  South    210
7  2023   Feb     Widget B  South    230

In [16]:
# Question 13 - Type your answers here

# Use pivot_table to find total sales per product and region by year


# Display the resulting DataFrame

### **Q14 - E-commerce Order Analysis Using Pandas**

The dataset ecommerce_orders.csv contains daily transaction data for an e-commerce company over a month. Each record includes details of a single transaction. Your task is to analyze the data to help the company understand order patterns, popular products, and revenue trends.

Dataset file: ecommerce_orders.csv

**Dataset Structure:**

- Order_ID: Unique identifier for each order.
- Date: Date of the transaction.
- Product: Product name.
- Category: Category to which the product belongs.
- Quantity: Number of units ordered.
- Unit_Price: Price per unit of the product.

**(a) Load the dataset and display the first five rows. Display the total number of orders, unique products, and categories in the dataset.**

In [17]:
# Question 14(a) - Type your answers here

# Load the data

In [18]:
# Question 14(a) - Type your answers here

# Display total number of orders, unique products, and categories

**(b) Create a new column, "Total_Revenue", which is calculated as Quantity * Unit_Price. Display the first five rows of the modified DataFrame.**

In [19]:
# Question 14(b) - Type your answers here

# Create 'Total_Revenue' column


# Display the first five rows with the new column

**(c) Find all orders where the "Category" is "Electronics" and the "Total_Revenue" is above $2000. Sort these results by "Total_Revenue" in descending order.**

In [20]:
# Question 14(c) - Type your answers here

# Filter for Electronics category with Total_Revenue > $2000


# Sort by 'Total_Revenue' in descending order

**(d) Slice the DataFrame to select only the columns "Date", "Product", "Quantity", and "Total_Revenue" for the first 10 rows**

In [21]:
# Question 14(d) - Type your answers here

# Slice the DataFrame to select specific columns for the first 10 rows

**(e) Using aggregation, calculate the total quantity sold for each product and display the top 5 products with the highest total quantity sold.**

In [22]:
# Question 14(e) - Type your answers here

# Calculate total quantity sold for each product


# Display the top 5 products by quantity sold

**(f) Aggregate the data to calculate the total revenue for each day. Display the results as a new DataFrame, with columns "Date" and "Daily_Revenue".**

In [24]:
# Question 14(f) - Type your answers here

# Aggregate data to calculate total revenue for each day

**Note: This is a challenging question**

**(g) Identify the product with the highest single transaction revenue (i.e., the highest "Total_Revenue" for any one order).**

In [25]:
# Question 14(g) - Type your answers here

# Find the maximum value in 'Total_Revenue' and the corresponding product

### **Note: This is a Challenging Question**

### **Q15 - Retail Sales Analysis Using Pandas Time Series**

### **Use dataset file - retail_sales_june_2023.csv**

**(a) Load the dataset and set the "Date" column as the index of the DataFrame, ensuring that it is in datetime format.**

In [27]:
# Question 15(a) - Type your answers here

# Load the data


# Convert 'Date' to datetime and set as index

**(b) Calculate the total and average daily sales for June. Display the average rounded to one decimal place.**

In [26]:
# Question 15(b) - Type your answers here

# Calculate total and average daily sales for June

**(c) Identify the day with the highest sales and the day with the lowest sales. Also, calculate the difference in sales units between these two days.**

In [28]:
# Question 15(c) - Type your answers here

# Find the days with highest and lowest sales

**(d) Compute a 7-day moving average for daily sales and add it as a new column, "7_day_MA"**

In [29]:
# Question 15(d) - Type your answers here

# Calculate 7-day moving average and add as a new column

**(e) Resample the data on a weekly basis, calculating the total sales for each week. Display the results in a table format**

In [30]:
# Question 15(e) - Type your answers here

# Resample data weekly to get total sales for each week

# Display the weekly totals in a table format

**(f) Identify any days where sales dropped by 20% or more compared to the previous day and list the dates and sales values for these occurrences**

In [31]:
# Question 15(f) - Type your answers here

# Calculate the percentage change in sales from the previous day


# Find days where sales dropped by 20% or more