# **Part 3: Text Classification Testing**

In this section, comprehensive testing was done

Done By: Wong Wen Bing 230436M

In [25]:
# pip install openpyxl pandas

In [26]:
import pandas as pd

import test dataset

In [27]:
testset=pd.read_excel('Data_test.xlsx')
testset.head()

                                         description             species
0  Looking for fun and interesting facts about a ...  Black-naped Oriole
1  Giant Panda. Grey Wolf. Canis lupus. Proboscis...  Black-naped Oriole
2  javanicus displayed during feeding such as wal...          Javan Myna
3  Black-naped Oriole: Explore more topics. Name;...  Black-naped Oriole
4                                                NaN          Javan Myna

clean and pre-process dataset

In [28]:
from nltk.corpus import stopwords #stopwords
from nltk.stem.wordnet import WordNetLemmatizer #lemmatization
import re
from nltk.tokenize import word_tokenize
import numpy as np

def preprocess_text(text):
    text=str(text)
    lemma=WordNetLemmatizer() #lemmatization
    stopwordss=stopwords.words('english') #list of stopwords
    text = text.lower()  # Convert to lowercase
    # text = re.sub(r'\w*\d\w*', '', text)  # Remove words with numbers
    # text = re.sub(r'\W+', ' ', text)  # Remove special characters
    if len(text) < 25: 
        return np.NaN
    else: 
        text = re.sub(r'[^a-z\s]', ' ', text)
        text = re.sub(r'\s\s+',' ', text)
        words=word_tokenize(text)
        text=[]
        for word in words: 
            if word not in stopwordss: 
                normalized = lemma.lemmatize(word)
                text.append(normalized)
        return ' '.join(text)

In [29]:
testset['cleaned_text'] = testset['description'].apply(preprocess_text)
testset.head()

,description,species,cleaned_text
0,Looking for fun and interesting facts about a ...,Black-naped Oriole,looking fun interesting fact black naped oriol...
1,Giant Panda. Grey Wolf. Canis lupus. Proboscis...,Black-naped Oriole,giant panda grey wolf canis lupus proboscis mo...
2,javanicus displayed during feeding such as wal...,Javan Myna,javanicus displayed feeding walking jumping ho...
3,Black-naped Oriole: Explore more topics. Name;...,Black-naped Oriole,black naped oriole explore topic name descript...
4,NaN,Javan Myna,NaN

In [30]:
testset.drop_duplicates(inplace=True)
testset.dropna(inplace=True)

Import Model

In [31]:
import pickle
with open('Logistic Regression.pkl', 'rb') as f: 
    model=pickle.load(f)
    print(model)

OneVsRestClassifier(estimator=LogisticRegression())

In [32]:
import pickle
with open('TfIDF Vectorizer.pkl', 'rb') as f: 
    tv=pickle.load(f)
    print(tv)

TfidfVectorizer(max_features=7000, ngram_range=(1, 2), stop_words='english')

In [33]:
y_test=testset['species']

In [34]:
import pickle
with open('MWE Tokenizer.pkl', 'rb') as f: 
    tk=pickle.load(f)

def using_mwe(x):
    txt=[]
    texts = tk.tokenize(x.split(' '))
    for text in texts: 
        txt.append(text)
    return ' '.join(txt)

# Use tokenize method 
testset['chunked']=testset['cleaned_text'].apply(using_mwe)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
test=testset['chunked']
vector=tv.transform(test)
y_testresults=model.predict(vector)

In [36]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test, y_testresults)
cm

array([[ 5,  0,  0, 11],
       [ 0,  4,  0,  2],
       [ 0,  0,  5,  4],
       [ 0,  0,  0,  7]], dtype=int64)

In [37]:
with open('Random_Forest.pkl', 'rb') as f: 
    rf=pickle.load(f)
    print(rf)

RandomForestClassifier(class_weight='balanced', random_state=42)

C:\Users\wongw\anaconda3\lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.5.1 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\wongw\anaconda3\lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator RandomForestClassifier from version 1.5.1 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [38]:
from sklearn.metrics import classification_report
y_rftestresults=rf.predict(vector)
print(classification_report(y_test, y_rftestresults, target_names=['Black-naped Oriole','Collared Kingfisher','Javan Myna','Little Egret']))

                     precision    recall  f1-score   support

 Black-naped Oriole       1.00      0.75      0.86        16
Collared Kingfisher       0.75      1.00      0.86         6
         Javan Myna       0.88      0.78      0.82         9
       Little Egret       0.70      1.00      0.82         7

           accuracy                           0.84        38
          macro avg       0.83      0.88      0.84        38
       weighted avg       0.88      0.84      0.84        38

In [39]:
with open('Linear Support Vector Machine.pkl', 'rb') as f: 
    lvc=pickle.load(f)
    print(lvc)

SGDClassifier(alpha=0.001, max_iter=5, random_state=42, tol=None)

C:\Users\wongw\anaconda3\lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator SGDClassifier from version 1.5.1 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [40]:
y_lvctestresults=lvc.predict(vector)
print(classification_report(y_test, y_lvctestresults, target_names=['Black-naped Oriole','Collared Kingfisher','Javan Myna','Little Egret']))

                     precision    recall  f1-score   support

 Black-naped Oriole       1.00      0.81      0.90        16
Collared Kingfisher       1.00      1.00      1.00         6
         Javan Myna       0.90      1.00      0.95         9
       Little Egret       0.78      1.00      0.88         7

           accuracy                           0.92        38
          macro avg       0.92      0.95      0.93        38
       weighted avg       0.94      0.92      0.92        38

In [41]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_testresults, target_names=['Black-naped Oriole','Collared Kingfisher','Javan Myna','Little Egret']))

                     precision    recall  f1-score   support

 Black-naped Oriole       1.00      0.31      0.48        16
Collared Kingfisher       1.00      0.67      0.80         6
         Javan Myna       1.00      0.56      0.71         9
       Little Egret       0.29      1.00      0.45         7

           accuracy                           0.55        38
          macro avg       0.82      0.63      0.61        38
       weighted avg       0.87      0.55      0.58        38

In [42]:
testset['lvc_prediction']=y_lvctestresults

In [44]:
# testset['naive_bayes_pred']=(nb.predict(vector))

In [45]:
testset.head()

,description,species,cleaned_text,chunked,lvc_prediction
0,Looking for fun and interesting facts about a ...,Black-naped Oriole,looking fun interesting fact black naped oriol...,looking fun interesting fact black naped oriol...,Black-naped Oriole
1,Giant Panda. Grey Wolf. Canis lupus. Proboscis...,Black-naped Oriole,giant panda grey wolf canis lupus proboscis mo...,giant panda grey wolf canis lupus proboscis mo...,Black-naped Oriole
2,javanicus displayed during feeding such as wal...,Javan Myna,javanicus displayed feeding walking jumping ho...,javanicus displayed feeding walking jumping ho...,Javan Myna
3,Black-naped Oriole: Explore more topics. Name;...,Black-naped Oriole,black naped oriole explore topic name descript...,black naped oriole explore topic name descript...,Black-naped Oriole
5,"The Javan myna, also known as the white-vented...",Javan Myna,javan myna also known white vented myna specie...,javan_myna also known white vented myna specie...,Javan Myna

In [46]:
import pickle
with open('SVM.pkl', 'rb') as f: 
    svm=pickle.load(f)
    print(svm)

LinearSVC()

In [47]:
y_svmtestresults=svm.predict(vector)
print(classification_report(y_test, y_svmtestresults, target_names=['Black-naped Oriole','Collared Kingfisher','Javan Myna','Little Egret']))

                     precision    recall  f1-score   support

 Black-naped Oriole       1.00      0.81      0.90        16
Collared Kingfisher       1.00      1.00      1.00         6
         Javan Myna       0.90      1.00      0.95         9
       Little Egret       0.78      1.00      0.88         7

           accuracy                           0.92        38
          macro avg       0.92      0.95      0.93        38
       weighted avg       0.94      0.92      0.92        38

In [48]:
testset['sv,']=y_svmtestresults

In [49]:
testset.to_excel('newtest.xlsx')

In [ ]:
s