# IT2313 - Programming for Data Science
# Practical 2 (Question 1 to 5)

## List and Tuple

### Q1 - House Area Measurements
Q
1- . After measuring the height of your family, you decide to collect some information on the house you're living in. The areas of different parts of your house are as follows:

   | Hall  | Kitchen | Living | Bedroom | Bath  |
   |-------|---------|--------|---------|-------|
   | 11.25 | 18.20   | 20.0   | 10.75   | 9.5   |

   **Objective:**
   Create a list, `areas`, which contains the area of the Hallway (`hall`), Kitchen (`kit`), Living Room (`living`), Bedroom (`bed`), and Bathroom (`bath`), in this order. Use the predefined variables.

   a) Print the `areas` list using the `print()` function.

   b) Print out the areas of the kitchen and bathroom.

   c) Without changing the list in previous cells, update the area of the bathroom to 10.51.

   d) Instead of creating the list, let's try to create the areas in the table using a `Tuple` and print the areas with the `print()` function.
e.

In [1]:
# Question 1(a) - Type your answers here

# area variables (in square meters)
hall = 11.25
kit = 18.20
living=20
bed=10.75
bath=8.5


# Create list areas
areas = [hall, kit, living, bed, bath]

# Print areas
print(areas)

[11.25, 18.2, 20, 10.75, 8.5]

In [3]:
# Question 1(a) - Type your answers here

# area variables (in square meters)


# Adapt list areas
areas=['Hallway',hall, 'Kitchen', kit, 'Living Room',living,'Bedroom',bed, 'Bathroom, bath']

# Print areas
print(areas)

['Hallway', 11.25, 'Kitchen', 18.2, 'Living Room', 20, 'Bedroom', 10.75, 'Bathroom, bath']

In [6]:
# Question 1(b) - Type your answers here
print(f"""
Area of Kitchen is {areas[3]}
Area of Bathroom is {areas[9]} 
      """)

IndexError: list index out of range

In [7]:
# Question 1(c) -  Type your answers here

areas[9]=10.51
areas[-1]=10.51
print(areas)

IndexError: list assignment index out of range

In [22]:
# Question 1(d) -  Type your answers here


# Create list areas in Tuple


# Print areas

(11.25, 18.0, 20.0, 10.75, 9.5)

### Q2 - Compare Two Lists for Mismatched Positions

Given two equal-length lists of unique numbers, write a function to return the number of items in these two lists that have the same values but are at different positions.

For example, if these two lists are `[1, 2, 3, 5]` and `[2, 1, 3, 4]`, then the output is `2` because the same values `1` and `2` appear at different positions.

#### Test Cases:

| Input1: list      | Input2: list      | Output: int |
|--------------------|--------------------|-------------|
| **Test 1:**        | `[1, 2, 3, 5]`     | `[2, 1, 3, 4]` | `2`         |
| **Test 2:**        | `[1, 2, 3, 5]`     | `[1, 2, 3, 4]` | `0`         |

In [2]:
# Question 2 - For counting Matching Positions
def count_matching_positions(list1, list2):
    count=0
    for i in range(len(list1)): 
        if list1[i]==list2[i]:
            count+=1
        else: 
            continue
    return count

# Example usage:
list1 = [1, 2, 3, 5]
list2 = [2, 1, 3, 4]

result = len(list1) - count_matching_positions(list1, list2)
print(result)

3

In [3]:
# Question 2 - For counting Un-Matching Positions
def count_different_positions(list1, list2):
    count=0
    for i in range(len(list1)):
        if list1[i]!=list2[i]:
            count+=1
        else: 
            continue
    return count

# Example usage:
list1 = [1, 2, 3, 5]
list2 = [2, 1, 3, 4]
list3 = [1, 2, 3, 4]

result = count_different_positions(list1, list2)
print(result)

result = count_different_positions(list1, list3)
print(result)

3
1

### Q3 - Student Exam Scores Management

You are tasked with managing a list of students and their exam scores. Each student is represented as a tuple containing the following information: 

- **Student's Name** – Alice, Bob, Charlie
- **Admin Number** – IT001, IT002, IT003
- **Math Score** – 90, 88, 78
- **Science Score** – 85, 90, 82

#### Write a Python program to perform the following tasks:

a) Create a list with information for 3 students.  
b) Display the information of each student, including their name, admission number, and average score.  
c) Identify and print the student with the highest average score.

In [8]:
# Question 3 - Type your answers here

# Student information as tuples (Name, Admin Number, Math Score, Science Score)
students = [("Alice", "IT001", 90, 85),
           ("Bob", "IT002", 88, 90),
           ("Charlie","IT003",78,82)]


# Display information for each student
for student in students: 
    name, admin_number, math, science = student
    average = (math+science/2)
    print("Student: {}, Admin Number: {}, Average Score:{:.2f}".format(name, admin_number, average))

# Identify and print the student with the highest average score
highest_avg = max(students, key=lambda student:(student[2]+student[3])/2) 
print(highest_avg) #<-- prints only tuple 
## --> lambda defines a function on the fly (keyword) dont need function name to do smth quickly. INLINE FUNCTION

print(f"Name:{highest_avg[0]}, Admin Number: {highest_avg[1]}, Average Score: {(highest_avg[2]+highest_avg[3])/2:.2f}")

Student: Alice, Admin Number: IT001, Average Score:132.50
Student: Bob, Admin Number: IT002, Average Score:133.00
Student: Charlie, Admin Number: IT003, Average Score:119.00
('Bob', 'IT002', 88, 90)
Name:Bob, Admin Number: IT002, Average Score: 89.00

## Dictionaries
### 4. Create a Dictionary for Profile Information

Create a dictionary that holds the profile information of a person. The dictionary should include the following keys:

- **Name**
- **Age**
- **Birth Month**
- **Employed Status** (True/False)

**a)** Hint: The following is the sample output.
```
{'Name': 'David Wong', 'Age': 33, 'Birth Month': 'June', 'Employed Status': True}

**b)** Update the age to 35.

**c)** Print out the following using the information store in your dictionary
```
David Wong's age is 35

In [1]:
# Question 4(a) - Type your answers here
dictionary = {
    'Name': 'David Wong',
    'Age': 33, 
    'Birth Month': 'June',
    'Employed Status': True
    }
print(dictionary)

{'Name': 'David Wong', 'Age': 33, 'Birth Month': 'June', 'Employed Status': True}

In [3]:
# Question 4(b) - Type your answers here
dictionary['Age']=35

In [4]:
# Question 4(c) - Type your answers here
print(f"{dictionary['Name']}'s age is {dictionary['Age']}")

David Wong's age is 35

## Question 5
Write a Python code snippet to create a dictionary named `Yr2023_details_dict` that contains the following information:

- **Semester 2 courses**: `"IT2311"`, `"IT2312"`, `"IT2313"`, `"IT2391"`, `"IT2392"`, `"IT2393"`, `"IT2394"`
- **Semester 1 courses**: `"IT2301"`, `"IT2302"`, `"IT2381"`, `"IT2382"`, `"IT2383"`, `"IT2384"`, `"IT2385"`, `"IT2386"`


(a) Using the dictionary you created in the previous question, write a code to display the entire contents of `Yr2023_details_dict`.

(b) Print out the second item in Semester 1

(c) Add a new course, "IT2395", to Semester 2 in the Yr2023_details_dict and display the updated dictionary.

(d) To count and print the total number of courses offered in both Semester 1 and Semester 2 combined.

In [10]:
# Question 5(a) - Type your answers here
Yr2023_details_dict = {
    'sem2': ['IT2311',
             'IT2312', 
             'IT2313', 
             'IT2391', 
             'IT2392',
             'IT2393', 
             'IT2394'], 
    'sem1':[
        'IT2301',
        'IT2302', 
        'IT2381', 
        'IT2382',
        'IT2383',
        'IT2384', 
        'IT2385',
        'IT2386'
    ]
}
print(Yr2023_details_dict)

{'sem2': ['IT2311', 'IT2312', 'IT2313', 'IT2391', 'IT2392', 'IT2393', 'IT2394'], 'sem1': ['IT2301', 'IT2302', 'IT2381', 'IT2382', 'IT2383', 'IT2384', 'IT2385', 'IT2386']}

In [11]:
# Question 5(b) - Type your answers here
print(f"The second item in Semester 1 is {Yr2023_details_dict['sem1'][1]}")

The second item in Semester 1 is IT2302

In [12]:
# Question 5(c) - Type your answers here

Yr2023_details_dict['sem2'].append('IT2395')
print(Yr2023_details_dict)

{'sem2': ['IT2311', 'IT2312', 'IT2313', 'IT2391', 'IT2392', 'IT2393', 'IT2394', 'IT2395'], 'sem1': ['IT2301', 'IT2302', 'IT2381', 'IT2382', 'IT2383', 'IT2384', 'IT2385', 'IT2386']}

In [13]:
# Question 5(d) - Type your answers here
sum = len(Yr2023_details_dict['sem2'])+len(Yr2023_details_dict['sem1'])
print(f"Total number of courses: {sum}")

Total number of courses: 16