## IT2313 - Programming for Data Science
## Practical 3 
## NumPy for Numerical Computations (Part 1)

### Let try to practise our NumPy knowledge. We will start off with a few simple tasks in this Practical

### Creating NumPy Arrays

#### Q1 - Import NumPy as np

In [1]:
# Type your answer here
import numpy as np

#### Q2 - Create an array of 10 zeros

In [4]:
# Type your answer here
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### Q3 - Create an array of 10 ones

In [6]:
# Type your answer here
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### Q4 - Create an array of 10 fives

In [20]:
# Type your answer here
np.full(10,5)

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [5]:
# Type your answer here

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### Q5 - Create an array of the integers from 20 to 40

In [24]:
# Type your answer here
np.arange(20,41,1)

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40])

#### Q6 - Create an array of all the Even integers from 20 to 40

In [26]:
# Type your answer here
np.arange(20,41,2)

array([20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40])

#### Q7 - Create an 10 evenly spaced values from 20 to 40
##### The formula for the step size (step) is calculated as:
##### step = (stop - start) / (num - 1), num is the number of evenly spaced values to generate

In [30]:
# Type your answer here
np.linspace(20,40,10)

array([20.        , 22.22222222, 24.44444444, 26.66666667, 28.88888889,
       31.11111111, 33.33333333, 35.55555556, 37.77777778, 40.        ])

#### Q8 - Create a 3x3 matrix with values ranging from 0 to 8

In [38]:
# Type your answer here
c = np.arange(0,9)
c.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
# Type your answer here

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### Q9 - Create a 3x3 matrix with values of 6

In [72]:
# Type your answer her
np.full((3,3),5)

array([[5, 5, 5],
       [5, 5, 5],
       [5, 5, 5]])

#### Q10 - Use NumPy to generate 10 random number between 0 and 1

In [76]:
# Type your answer here
np.random.random(10)

array([0.62951518, 0.64479199, 0.99610826, 0.00989647, 0.94456728,
       0.36845625, 0.0240304 , 0.65419059, 0.33092741, 0.28519431])

#### Q11 - Use NumPy to create the following matrix
#### Note - Use 2 different approaches

In [82]:
# Type your answer here
np.linspace(0,1,100)

array([0.        , 0.01010101, 0.02020202, 0.03030303, 0.04040404,
       0.05050505, 0.06060606, 0.07070707, 0.08080808, 0.09090909,
       0.1010101 , 0.11111111, 0.12121212, 0.13131313, 0.14141414,
       0.15151515, 0.16161616, 0.17171717, 0.18181818, 0.19191919,
       0.2020202 , 0.21212121, 0.22222222, 0.23232323, 0.24242424,
       0.25252525, 0.26262626, 0.27272727, 0.28282828, 0.29292929,
       0.3030303 , 0.31313131, 0.32323232, 0.33333333, 0.34343434,
       0.35353535, 0.36363636, 0.37373737, 0.38383838, 0.39393939,
       0.4040404 , 0.41414141, 0.42424242, 0.43434343, 0.44444444,
       0.45454545, 0.46464646, 0.47474747, 0.48484848, 0.49494949,
       0.50505051, 0.51515152, 0.52525253, 0.53535354, 0.54545455,
       0.55555556, 0.56565657, 0.57575758, 0.58585859, 0.5959596 ,
       0.60606061, 0.61616162, 0.62626263, 0.63636364, 0.64646465,
       0.65656566, 0.66666667, 0.67676768, 0.68686869, 0.6969697 ,
       0.70707071, 0.71717172, 0.72727273, 0.73737374, 0.74747475,
       0.75757576, 0.76767677, 0.77777778, 0.78787879, 0.7979798 ,
       0.80808081, 0.81818182, 0.82828283, 0.83838384, 0.84848485,
       0.85858586, 0.86868687, 0.87878788, 0.88888889, 0.8989899 ,
       0.90909091, 0.91919192, 0.92929293, 0.93939394, 0.94949495,
       0.95959596, 0.96969697, 0.97979798, 0.98989899, 1.        ])

In [14]:
# Type your answer here

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

### Creating NumPy Indexing and Selection

#### Question 12 - You will be giving a few matrices, and required to to produce the resulting matrix outputs

In [120]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [122]:
# Q12(a)
# Type your answer here
mat[2:,]

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [124]:
# Q12(b)
# Type your answer here
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [126]:
# Q12(c)
# Type your answer here
mat[3,4]

20

In [128]:
# Q12(e)
# Type your answer here
mat[:3, 1]

array([ 2,  7, 12])

In [130]:
# Q12(e)
# Type your answer here
mat[:3,1].reshape(3,1)

array([[ 2],
       [ 7],
       [12]])

In [132]:
# Q12(f)
# Type your answer here
mat[-1]

array([21, 22, 23, 24, 25])

In [134]:
# Q12(g)
# Type your answer here
mat[-2:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### Q13 - Get the sum of all the values in the matrix

In [116]:
# Type your answer here
mat = np.arange(5,14).reshape(3,3)
mat

array([[ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

In [118]:
# Type your answer here
mat.sum()

81

In [136]:
# Type your answer here
np.sum(mat)

325

### Sorting and Filtering of NumPy Arrays

#### Q13 - The medals_2023,csv file contains all the medals won by countries in SEA Games 2023

In [62]:
import csv
csvfile = open("datasets/medals_2023.csv")
for row in csv.reader(csvfile):
    print(row)
csvfile.close()

['Rank', 'Country', 'Gold', 'Silver', 'Bronze', 'Total']
['1', 'Vietnam', '136', '105', '114', '355']
['2', 'Thailand', '108', '96', '109', '313']
['3', 'Indonesia', '87', '80', '109', '276']
['4', 'Cambodia', '81', '74', '127', '282']
['5', 'Philippines', '58', '86', '116', '260']
['6', 'Singapore', '51', '42', '64', '157']
['7', 'Malaysia', '34', '45', '96', '175']
['8', 'Myanmar', '21', '25', '68', '114']
['9', 'Laos', '6', '22', '60', '88']
['10', 'Brunei', '2', '1', '6', '9']
['11', 'Timor-Leste', '0', '0', '8', '8']

#### Q13(a) - Use the data you read from csv file and convert it into NumPy array and display the data type

In [64]:
# Q13(a)
# This array was created
medals = [
    ['Rank', 'Country', 'Gold', 'Silver', 'Bronze', 'Total'],
    ['1', 'Vietnam', '136', '105', '114', '355'],
    ['2', 'Thailand', '108', '96', '109', '313'],
    ['3', 'Indonesia', '87', '80', '109', '276'],
    ['4', 'Cambodia', '81', '74', '127', '282'],
    ['5', 'Philippines', '58', '86', '116', '260'],
    ['6', 'Singapore', '51', '42', '64', '157'],
    ['7', 'Malaysia', '34', '45', '96', '175'],
    ['8', 'Myanmar', '21', '25', '68', '114'],
    ['9', 'Laos', '6', '22', '60', '88'],
    ['10', 'Brunei', '2', '1', '6', '9'],
    ['11', 'Timor-Leste', '0', '0', '8', '8']
]

# Convert the data to NumPy array
# Type your answer here
medals=np.array(medals)

# Print the NumPy array
# Type your answer here
print(medals)

[['Rank' 'Country' 'Gold' 'Silver' 'Bronze' 'Total']
 ['1' 'Vietnam' '136' '105' '114' '355']
 ['2' 'Thailand' '108' '96' '109' '313']
 ['3' 'Indonesia' '87' '80' '109' '276']
 ['4' 'Cambodia' '81' '74' '127' '282']
 ['5' 'Philippines' '58' '86' '116' '260']
 ['6' 'Singapore' '51' '42' '64' '157']
 ['7' 'Malaysia' '34' '45' '96' '175']
 ['8' 'Myanmar' '21' '25' '68' '114']
 ['9' 'Laos' '6' '22' '60' '88']
 ['10' 'Brunei' '2' '1' '6' '9']
 ['11' 'Timor-Leste' '0' '0' '8' '8']]

In [66]:
# Q13(a)
# Type your answer here
type(medals)

numpy.ndarray

#### Q13(b) - Only Display the Top 3 medal ranking countries

In [50]:
# Q13(b)
# Type your answer here
# Extract the header and the top 3 rows
header=medals[0]
top3= medals[1:4] #

# Print the header and top 3 countries
top3

array([['Rank', 'Country', 'Gold', 'Silver', 'Bronze', 'Total'],
       ['1', 'Vietnam', '136', '105', '114', '355'],
       ['2', 'Thailand', '108', '96', '109', '313'],
       ['3', 'Indonesia', '87', '80', '109', '276']], dtype='<U11')

#### Q13(c) - Display all the medals won by Singapore

In [60]:
# Q13(c)
# Type your answer here
# Create a boolean mask for rows where 'Country' is 'Singapore'
sg=medals[medals[:,1]=='Singapore']

# Use boolean indexing to extract the rows for Singapore


# Print the medals won by Singapore
print(sg)

[['6' 'Singapore' '51' '42' '64' '157']]

#### Q13(d) - Display only the Gold and Total Medals won by the Countries

In [31]:
# Q13(d)
# Type your answer here
# Keep 'Rank', 'Country', 'Gold', and 'Total' columns


# Print the selected columns for all countries

[['Rank' 'Country' 'Gold' 'Total']
 ['1' 'Vietnam' '136' '355']
 ['2' 'Thailand' '108' '313']
 ['3' 'Indonesia' '87' '276']
 ['4' 'Cambodia' '81' '282']
 ['5' 'Philippines' '58' '260']
 ['6' 'Singapore' '51' '157']
 ['7' 'Malaysia' '34' '175']
 ['8' 'Myanmar' '21' '114']
 ['9' 'Laos' '6' '88']
 ['10' 'Brunei' '2' '9']
 ['11' 'Timor-Leste' '0' '8']]

#### Q13(e) Remove the Silver and Bronze column

In [32]:
# Q13(e)
# Type your answer here
# Remove 'Silver' and 'Bronze' columns (columns 3 and 4)


# Print the modified NumPy array

[['Rank' 'Country' 'Gold' 'Total']
 ['1' 'Vietnam' '136' '355']
 ['2' 'Thailand' '108' '313']
 ['3' 'Indonesia' '87' '276']
 ['4' 'Cambodia' '81' '282']
 ['5' 'Philippines' '58' '260']
 ['6' 'Singapore' '51' '157']
 ['7' 'Malaysia' '34' '175']
 ['8' 'Myanmar' '21' '114']
 ['9' 'Laos' '6' '88']
 ['10' 'Brunei' '2' '9']
 ['11' 'Timor-Leste' '0' '8']]

#### Q13(f) - Sort the Medal Tally Table based on the Total Medals won by countries

In [33]:
# Q13(f)

import numpy as np

medals = [
    ['Rank', 'Country', 'Gold', 'Silver', 'Bronze', 'Total'],
    ['1', 'Vietnam', '136', '105', '114', '355'],
    ['2', 'Thailand', '108', '96', '109', '313'],
    ['3', 'Indonesia', '87', '80', '109', '276'],
    ['4', 'Cambodia', '81', '74', '127', '282'],
    ['5', 'Philippines', '58', '86', '116', '260'],
    ['6', 'Singapore', '51', '42', '64', '157'],
    ['7', 'Malaysia', '34', '45', '96', '175'],
    ['8', 'Myanmar', '21', '25', '68', '114'],
    ['9', 'Laos', '6', '22', '60', '88'],
    ['10', 'Brunei', '2', '1', '6', '9'],
    ['11', 'Timor-Leste', '0', '0', '8', '8']
]

numpy_array = np.array(medals[1:], dtype=object)

# Convert 'Total' column to integers for sorting
# Type your answer here

# Get indices that would sort the 'Total' column in descending order
# Type your answer here

# Sort the NumPy array based on the sorted indices
# Type your answer here

# Add the header row back to the sorted array
# Type your answer here

# Print the sorted NumPy array
# Type your answer here

[['Rank' 'Country' 'Gold' 'Silver' 'Bronze' 'Total']
 ['1' 'Vietnam' '136' '105' '114' '355']
 ['2' 'Thailand' '108' '96' '109' '313']
 ['4' 'Cambodia' '81' '74' '127' '282']
 ['3' 'Indonesia' '87' '80' '109' '276']
 ['5' 'Philippines' '58' '86' '116' '260']
 ['7' 'Malaysia' '34' '45' '96' '175']
 ['6' 'Singapore' '51' '42' '64' '157']
 ['8' 'Myanmar' '21' '25' '68' '114']
 ['9' 'Laos' '6' '22' '60' '88']
 ['10' 'Brunei' '2' '1' '6' '9']
 ['11' 'Timor-Leste' '0' '0' '8' '8']]

In [34]:
# Q13(f)

import numpy as np

medals = [
    ['Rank', 'Country', 'Gold', 'Silver', 'Bronze', 'Total'],
    ['1', 'Vietnam', '136', '105', '114', '355'],
    ['2', 'Thailand', '108', '96', '109', '313'],
    ['3', 'Indonesia', '87', '80', '109', '276'],
    ['4', 'Cambodia', '81', '74', '127', '282'],
    ['5', 'Philippines', '58', '86', '116', '260'],
    ['6', 'Singapore', '51', '42', '64', '157'],
    ['7', 'Malaysia', '34', '45', '96', '175'],
    ['8', 'Myanmar', '21', '25', '68', '114'],
    ['9', 'Laos', '6', '22', '60', '88'],
    ['10', 'Brunei', '2', '1', '6', '9'],
    ['11', 'Timor-Leste', '0', '0', '8', '8']
]

# Convert the data to NumPy array, excluding the first row
# Type your answer here

# Remove 'Silver' and 'Bronze' columns (columns 3 and 4)
# Type your answer here

# Convert 'Total' column to integers for sorting
# Type your answer here

# Get indices that would sort the 'Total' column in descending order
# Type your answer here

# Sort the NumPy array based on the sorted indices
# Type your answer here

# Add the header row back to the sorted array
# Type your answer here

# Print the sorted NumPy array without 'Silver' and 'Bronze'
# Type your answer here

[['Rank' 'Country' 'Gold' 'Total']
 ['1' 'Vietnam' '136' '355']
 ['2' 'Thailand' '108' '313']
 ['4' 'Cambodia' '81' '282']
 ['3' 'Indonesia' '87' '276']
 ['5' 'Philippines' '58' '260']
 ['7' 'Malaysia' '34' '175']
 ['6' 'Singapore' '51' '157']
 ['8' 'Myanmar' '21' '114']
 ['9' 'Laos' '6' '88']
 ['10' 'Brunei' '2' '9']
 ['11' 'Timor-Leste' '0' '8']]