# IT2313 - Programming for Data Science
# Practical 2 (Question 1 to 5)

## List and Tuple

### Q1 - House Area Measurements
Q1- . After measuring the height of your family, you decide to collect some information on the house you're living in. The areas of different parts of your house are as follows:

   | Hall  | Kitchen | Living | Bedroom | Bath  |
   |-------|---------|--------|---------|-------|
   | 11.25 | 18.20   | 20.0   | 10.75   | 9.5   |

   **Objective:**
   Create a list, `areas`, which contains the area of the Hallway (`hall`), Kitchen (`kit`), Living Room (`living`), Bedroom (`bed`), and Bathroom (`bath`), in this order. Use the predefined variables.

   a) Print the `areas` list using the `print()` function.

   b) Print out the areas of the kitchen and bathroom.

   c) Without changing the list in previous cells, update the area of the bathroom to 10.51.

   d) Instead of creating the list, let's try to create the areas in the table using a `Tuple` and print the areas with the `print()` function.
e.

In [18]:
# Question 1(a) - Type your answers here

# area variables (in square meters)


# Create list areas


# Print areas

[11.25, 18.0, 20.0, 10.75, 9.5]

In [19]:
# Question 1(a) - Type your answers here

# area variables (in square meters)


# Adapt list areas


# Print areas

['Hallway', 11.25, 'Kitchen', 18.0, 'Living Room', 20.0, 'Bedroom', 10.75, 'Bathroom', 9.5]

In [20]:
# Question 1(b) - Type your answers here

Area of Kitchen is  18.0
Area of Bathroom is  9.5
Area of Bathroom is  9.5

In [21]:
# Question 1(c) -  Type your answers here

['Hallway', 11.25, 'Kitchen', 18.0, 'Living Room', 20.0, 'Bedroom', 10.75, 'Bathroom', 10.51]

In [22]:
# Question 1(d) -  Type your answers here


# Create list areas in Tuple


# Print areas

(11.25, 18.0, 20.0, 10.75, 9.5)

### Q2 - Compare Two Lists for Mismatched Positions

Given two equal-length lists of unique numbers, write a function to return the number of items in these two lists that have the same values but are at different positions.

For example, if these two lists are `[1, 2, 3, 5]` and `[2, 1, 3, 4]`, then the output is `2` because the same values `1` and `2` appear at different positions.

#### Test Cases:

| Input1: list      | Input2: list      | Output: int |
|--------------------|--------------------|-------------|
| **Test 1:**        | `[1, 2, 3, 5]`     | `[2, 1, 3, 4]` | `2`         |
| **Test 2:**        | `[1, 2, 3, 5]`     | `[1, 2, 3, 4]` | `0`         |

In [23]:
# Question 2 - For counting Matching Positions
def count_matching_positions(list1, list2):

    return count

# Example usage:
list1 = [1, 2, 3, 5]
list2 = [2, 1, 3, 4]

result = len(list1) - count_matching_positions(list1, list2)
print(result)

3

In [24]:
# Question 2 - For counting Un-Matching Positions
def count_different_positions(list1, list2):

    return count

# Example usage:
list1 = [1, 2, 3, 5]
list2 = [2, 1, 3, 4]
list3 = [1, 2, 3, 4]

result = count_different_positions(list1, list2)
print(result)

result = count_different_positions(list1, list3)
print(result)

2
0

### Q3 - Student Exam Scores Management

You are tasked with managing a list of students and their exam scores. Each student is represented as a tuple containing the following information: 

- **Student's Name** – Alice, Bob, Charlie
- **Admin Number** – IT001, IT002, IT003
- **Math Score** – 90, 88, 78
- **Science Score** – 85, 90, 82

#### Write a Python program to perform the following tasks:

a) Create a list with information for 3 students.  
b) Display the information of each student, including their name, admission number, and average score.  
c) Identify and print the student with the highest average score.

In [25]:
# Question 3 - Type your answers here

# Student information as tuples (Name, Admin Number, Math Score, Science Score)


# Display information for each student


# Identify and print the student with the highest average score

Student: Alice, Admin Number: IT001, Average Score: 87.50
Student: Bob, Admin Number: IT002, Average Score: 89.00
Student: Charlie, Admin Number: IT003, Average Score: 80.00

Student with the Highest Average Score:
Name: Bob, Admin Number: IT002, Average Score: 89.00

## Dictionaries
### 4. Create a Dictionary for Profile Information

Create a dictionary that holds the profile information of a person. The dictionary should include the following keys:

- **Name**
- **Age**
- **Birth Month**
- **Employed Status** (True/False)

**a)** Hint: The following is the sample output.
```
{'Name': 'David Wong', 'Age': 33, 'Birth Month': 'June', 'Employed Status': True}

**b)** Update the age to 35.

**c)** Print out the following using the information store in your dictionary
```
David Wong's age is 35

In [27]:
# Question 4(a) - Type your answers here

{'Name': 'David Wong', 'Age': 33, 'Birth Month': 'June', 'Employed Status': True}

In [28]:
# Question 4(b) - Type your answers here

In [29]:
# Question 4(c) - Type your answers here

David Wong's age is 35

## Question 5
Write a Python code snippet to create a dictionary named `Yr2023_details_dict` that contains the following information:

- **Semester 2 courses**: `"IT2311"`, `"IT2312"`, `"IT2313"`, `"IT2391"`, `"IT2392"`, `"IT2393"`, `"IT2394"`
- **Semester 1 courses**: `"IT2301"`, `"IT2302"`, `"IT2381"`, `"IT2382"`, `"IT2383"`, `"IT2384"`, `"IT2385"`, `"IT2386"`


(a) Using the dictionary you created in the previous question, write a code to display the entire contents of `Yr2023_details_dict`.

(b) Print out the second item in Semester 1

(c) Add a new course, "IT2395", to Semester 2 in the Yr2023_details_dict and display the updated dictionary.

(d) To count and print the total number of courses offered in both Semester 1 and Semester 2 combined.

In [30]:
# Question 5(a) - Type your answers here

{'sem2': ['IT2311',
  'IT2312',
  'IT2313',
  'IT2391',
  'IT2392',
  'IT2393',
  'IT2394'],
 'sem1': ['IT2301',
  'IT2302',
  'IT2381',
  'IT2382',
  'IT2383',
  'IT2384',
  'IT2385',
  'IT2386']}

In [31]:
# Question 5(b) - Type your answers here

The second item in Semester 1 is IT2302

In [32]:
# Question 5(c) - Type your answers here

{'sem2': ['IT2311', 'IT2312', 'IT2313', 'IT2391', 'IT2392', 'IT2393', 'IT2394', 'IT2395'], 'sem1': ['IT2301', 'IT2302', 'IT2381', 'IT2382', 'IT2383', 'IT2384', 'IT2385', 'IT2386']}

In [33]:
# Question 5(d) - Type your answers here

Total number of courses: 16